:root {
    --font-sans-fallback: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    --font-sans: 'Inter', var(--font-sans-fallback);
}

body, html {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

h2, .h2 {
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.02em;
}

h3, .h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    letter-spacing: -0.01em;
}

h4, .h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.4;
}

p, .p {
    line-height: 1.6;
}
